@font-face {
    font-family: "Montserrat-Black";
    src: url("../../assets/fonts/Montserrat-Black.otf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../assets/fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../../assets/fonts/Montserrat-ExtraBold.otf");
}
@font-face {
    font-family: "Montserrat-Hairline";
    src: url("../../assets/fonts/Montserrat-Hairline.otf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../../assets/fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../assets/fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../../assets/fonts/Montserrat-SemiBold.otf");
}
@font-face {
    font-family: "Montserrat-Thin";
    src: url("../../assets/fonts/Montserrat-Thin.ttf");
}
@font-face {
    font-family: "Montserrat-UltraLight";
    src: url("../../assets/fonts/Montserrat-UltraLight.otf");
}
body {
    position: relative;
    width: 100%;
    background: #333;
    /*overflow: hidden;*/
    background-size: cover;
    background-position: center center;
    z-index: 1;
    background-image: url('../../images/background/login-bg.png');
    /*font-family: monospace, sans-serif;*/
    /*background-size: 100% 100%;*/
}
section.white-ground{
    background: white;
}
.app-body {
    /*background: url('../../images/background/home.png');*/
    /*background-size: cover;*/
    overflow-x: hidden;
    /*overflow-y: scroll;*/
}
.app-home-body {
    background: url('../../images/background/home.png');
    background-size: 100% 100%;
    overflow: hidden;
    width:100%;
}
.div-stats-wrap {
    background: url('../../images/background/stats.png');
    background-size: 100% 100%;
    overflow: hidden;
    width:100%;
    position: relative;
}
.div-top-athletes-wrap {
    background: url('../../images/background/top_athlete.png');
    background-size: 100% 100%;
    overflow: hidden;
    width:100%;
    position: relative;
}
.div-what-is-crypto-fantasy-wrap {
    background: url('../../images/background/crypto-fantasy.png');
    background-size: 100% 100%;
    overflow: hidden;
    width:100%;
    position: relative;
}
.div-faq {
    background-image: url('../../images/background/faq.png');
    background-size: 100% 100%;
    position: relative;
    width:100%;
    overflow: hidden;
}
.div-aboutus {
    background-image: url('../../images/background/aboutus.png');
    background-size: 100% 100%;
    position: relative;
    width:100%;
    overflow: hidden;
    padding-bottom: 160px;
}
.div-footer {
    width: 104%;
    height: 64px;
    background: black;
    margin-left: 0px;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*z-index: 1;*/
}
.footer-copyright-label {
    font-family: Montserrat-UltraLight;
    margin-top: 26px;
}
.footer-backtotop {
    float: right;
    margin-top: 12px;
    color: #282b39;
}
.header {
    background: linear-gradient(#1e1c30, #10212f, #09111e);
    border-bottom: 3px solid #0d1a2e;
    padding-right:20px;
}
.navbar-nav>li>a {
    font-family: Montserrat-UltraLight;
    font-weight:bolder;
    color:#FFFFFF!important;
    font-size: 16px;
}
.navbar-brand {
    font-weight:bolder;
    font-family: monospace;
    color:#FFFFFF!important;
    font-size: 16px;
    padding:5px;
    display: inline-flex;
}
.logo-icon {
    width: 40px;
    height: 40px;
}
.logo-title {
    font-family: Montserrat-Hairline;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
}
.logo-title:hover {
    color: gold;
}
.navbar-nav>li>a:hover {
    color: gold!important;
    text-shadow:
            -1px -1px 0 lightgold,
            1px -1px 0 lightgold,
            -1px 1px 0 lightgold,
            1px 1px 0 lightgold;
}
.white-color{
    color:white;
}
.red-color {
    color: white;
    padding: 2px;
    background-color: red;
    border-radius: 5px;
}
.green-color {
    color: white;
    padding: 2px;
    background-color: green;
    border-radius: 5px;
}
.green-color {
    color: green;
}
.grey-color {
    color: grey;
}

.disabled, .disabled:hover {
    background-color: transparent!important;
    color: grey!important;
}
.span-block {
    display: block;
    color:white;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    font-weight: normal;
}
.black008 {
    background: rgba(0,0,0,0.8);
}
#footer a {
    color: black;
}
.trans{
    background: #9ba5a533!important;
}
h1.margin-bottom20 {
    margin-bottom: 20px;
}
a:hover {
    color:gold;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.danger-color {
    color: rgba(255,0,0,0.5)!important;

}
.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #999;
}
/************** ABOUT US START *************************/
.form-contact {
    background: white;
    padding: 10px 40px;
    font-family: Montserrat-UltraLight;
}
.form-contact-control {
    margin: 0!important;
    padding: .3rem .75rem;
    /*height: 46px;*/
}
.form-contact input, .form-contact textarea {
    color: #000;
    border: 1px solid #eee;
}
.form-contact label {
    font-size: 14px;
    font-weight: normal;
    font-family: Montserrat-UltraLight;
}
.form-contact label {
    color: #000;
}
.btn-sendmessage {
    width: 100%;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    background-color: #0297df;
}
.btn-sendmessage:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
/************** ABOUT US END **************************/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: transparent;
}
.multi-column-dropdown li a {
    color: #FFF;
}
.dropdown-menu>li>a {
    color: #ffffff;
    font-weight:bold;
}
.dropdown-menu>li>a:hover {
    color: gold;
    background: #1f3d56;
    font-weight:bold;
}
.dropdown-menu {
    background: #151515;
}
.navbar-default{
    background: transparent;
    border-color: transparent;
}
.navbar{
    margin-bottom: 0;
}
.navbar-laravel {
    background: #151515;
    /*background: linear-gradient(#000000ff, #00000000);*/
    position: fixed;
    top:0;
    width: 100%;
    z-index: 3;
    border:none;
}
.caret {
    margin-left: 7px;
    margin-top: 7px;
}
.dropdown-submenu{ position: relative; }

.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#555;
}
.dropdown-submenu.pull-left{ float: none; }
.dropdown-submenu.pull-left>.dropdown-menu{
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.nav .open > a:focus {
    background: #eeeeee2a;
}
.fantasy-button {
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: .3em 0 1em 0;
    /*width: 320px;*/
    vertical-align: middle;
    color: #fff;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    font-family: Montserrat-Light;
    cursor: pointer;
    transition: all 0.15s ease;
    border-radius: 40px;
    border-top: 1px solid #92e5fd;
    border-left: 1px solid #92e5fd05;
    border-right: 1px solid #92e5fd05;
}
.buttonBlue {
    background: linear-gradient(#06b5e5, #0481a3);
    text-shadow: 1px 1px 1px rgba(4, 4, 4, 0.83);
}
.a-button:hover {
    text-decoration: none;
}
.pt-40 {
    padding-bottom: 40px;
}
/*************************************   ATHLETE CARD CSS START ***********************************************/
.athlete-card {
    background: url('../../images/background/athlete-bg.png');
    background-size: 100% 100%;
    min-width:310px;
    min-height:414px;
    margin:auto;
    width: 320px;
    border:1px solid grey;
    cursor: pointer;
    margin-bottom: 20px;
}
.athlete-card:hover {
    border: 1px solid gold;
    /*margin-top: -5px;*/
    box-shadow: 2px 3px 18px #888888;
}
.athlete-disabled-card {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.athlete-top-title {
    padding: 5px 10px;
    height: 40px;
    background: linear-gradient(#FFFFFF38, #FFFFFF02);
}
.label-athlete-playername {
    font-size: 24px;
    font-weight: bold;
    font-family: Montserrat-UltraLight;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.athlete-status-icon{
    width: 30px;
    height: 30px;
    font-size: 24px;
    float: right;
    margin-right: -10px;
}
.div-athlete-icon {
    width:100%;
}
.athlete-thumb {
    object-fit: cover;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 3px solid white;
}
.div-athlete-detail {
    padding: 20px 10px;
    color: white;
    font-size: 15px;
    font-family: Montserrat-UltraLight;
}
.div-btn-bottom-athlete-wrap {
    border-top: 1px solid #333;
}
.div-btn-bottom-athlete-wrap:hover{
    background: rgba(255,255,255,0.05);
}
.btn-bottom-athlete {
    padding: 10px 20px;
    display: block;
    width:100%;
    text-align: center;
    font-family: Montserrat-UltraLight;
    font-size: 24px;
    font-weight:bold;
    color: white;
    text-decoration: none!important;
}
/*************************************   ATHLETE CARD CSS END ***********************************************/
.div-top-title {
    padding: 35px 0;
}
.wrap-col {
    padding-left: 5px;
    padding-right: 5px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.row-margin-15{
    margin-left: -15px;
    margin-right: -15px;
}
.float-right {
    float:right;
}
.label-content-crypto-fantasy {
    color: white;
    font-family: Montserrat-Hairline;
}
/********************************** Auth Start ******************************/
.label-auth-sub-title {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: Montserrat-SemiBold;
    margin-top: -20px;
    display: block;
}
.auth-title {
    margin-left: -8rem;
    margin-bottom: 50px;
    margin-right: -8rem;
}
form.auth-login {
    width: 960px;
    margin: 6em auto;
    padding: 3em 10em 2em 10em;
    background: transparent;
}
.group {
    position: relative;
    margin-bottom: 45px;
}
input.auth-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}
input.auth-input:focus { outline: none; }
/* Label */
label.auth-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.3s ease;
    font-family: Montserrat-UltraLight;
}
/* active */
input.auth-input:focus ~ label, input.auth-input.used ~ label {
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #FFFFFF;
}

/* Underline */
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #FFFFFF;
    transition: all 0.2s ease;
}
.bar:before { left: 50%; }
.bar:after { right: 50%; }
/* active */
input.auth-input:focus ~ .bar:before, input.auth-input:focus ~ .bar:after { width: 50%; }
/* Highlight */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.01;
}
/* active */
input.auth-input:focus ~ .highlight {
    animation: inputHighlighter 0.2s ease;
}
/* Animations */
@keyframes inputHighlighter {
    from { background: #FFFFFF; }
    to 	{ width: 0; background: transparent; }
}
/* Button */
.button {
    position: relative;
    display: inline-block;
    padding: 30px;
    margin: .3em 0 1em 0;
    width: 320px;
    vertical-align: middle;
    color: #fff;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: linear-gradient(#06b5e5, #0481a3);
    border: none;
    font-family: Montserrat-Light;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.15s ease;
    border-radius: 40px;
    border-top: 1px solid #92e5fd;
    border-left: 1px solid #92e5fd05;
    border-right: 1px solid #92e5fd05;
}
.button:focus { outline: 0; }
/* Button modifiers */
.buttonBlue {
    /*z-index: 2;*/
    background: linear-gradient(#06b5e5, #0481a3);
    text-shadow: 1px 1px 1px rgba(4, 4, 4, 0.83);
}
.buttonBlue:hover {
    background: linear-gradient(#06b5e5, #0481a3);
}
.buttonRed {
    border-top: 1px solid #ff7474;
    background: linear-gradient(#e50606, #650202);
}
/* Ripples container */
.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* Ripples circle */
.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}
.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}
/* Ripples animation */
@keyframes ripples {
    0% { opacity: 0; }
    25% { opacity: 1; }
    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}
footer { text-align: center; }
footer p {
    color: #888;
    font-size: 13px;
    letter-spacing: .4px;
}
footer a {
    color: #4a89dc;
    text-decoration: none;
    transition: all .2s ease;
}
footer a:hover {
    color: #666;
    text-decoration: underline;
}
footer img {
    width: 80px;
    transition: all .2s ease;
}
footer img:hover { opacity: .83; }
footer img:focus , footer a:focus { outline: none; }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
input:-webkit-autofill ~ label {
    top:-20px;
    transform: scale(.75);
    left: -2px;
}

/********************************** Auth END   ******************************/
.buy-title {
    font-family: Montserrat-Light;
    font-size: 20px;
    font-style: italic;
    font-stretch: extra-condensed;
    font-weight: bold;
}
.crypto-container {
}
.crypto-celebrity-container {
    padding-top: 10px;
}

#btn_prev {
    background-image: url('../../images/background/btn-prev.png');
}
#btn_next {
    background-image: url('../../images/background/btn-next.png');
}
.btn-action {
    background: transparent;
    border: none;
    padding: 0;
    width: 190px;
    height: 54px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-family: Montserrat-Regular;
    border: 1px solid white;
}
.btn-action:hover {
    background-color: #ffffff10;
}
.div-pt50-pb10 {
    padding-top: 50px;
    padding-bottom: 10px;
}
.div-auth-button-wrap {
    width: 340px;
    margin: auto;
}
.label-auth-bottom-title {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Montserrat-Light;
}
.a-join-here {
    display: inline-block;
    color: #0481a3;
    font-size: 21px;
    font-family: Montserrat-Light;
    padding: 3px;
}
.a-join-here:hover{
    text-decoration: none;
}
.wide-width {
    width:100%;
}
@media screen and (max-width: 320px) {
    .col-xs-12 {
        padding-left: 12px;
    }
    .chat-container {
        min-width: 290px!important;
        width:300px!important;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 60px;
        margin-top: -25px;
    }
    .label-title-create {
        font-size: 20px;
        font-family: Montserrat-ExtraBold;
        margin-top: -10px;
    }
    .label-title-make {
        font-family: Montserrat-Hairline;
        font-size: 17px;
        display: block;
        margin-top: -5px;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 50px;
        display: block;
        margin-top: -17px;
    }
    .fantasy-button {
        width: 260px;
    }
}
@media screen and (max-width: 767px) {
    .app-home-body {
        width:100%;
        height: 500px!important;
        background: url(../../images/background/home.png);
        background-size: cover;
        overflow: hidden;
    }
    .div-pt50-pb10 {
        padding-top: 25px;
    }
    .div-stats-wrap, .div-top-athletes-wrap, .div-what-is-crypto-fantasy-wrap, .div-faq, .div-aboutus {
        /*background: none;*/
    }
    .marketplace-ul{
        height: calc(100% - 50px)!important;
        overflow: auto;
    }
    #marketplace_dropdownmenu {
        height: calc(100% - 100px)!important;
    }
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
    .span-block{
        font-size: 22px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: gold;
    }
    .wrap-row {
        padding-left: 15px;
        padding-right: 0;
    }
    .div-page-wrap {
        margin-left: -15px;
        padding-top: 40px;
        padding-bottom: 60px;
        margin-right: -15px;
        padding-right: 0;
    }
    .h-title {
        color: white;
        font-size: 28px;
        font-family: Montserrat-Light;
        font-style: italic;
        padding-left: 25px;
    }
    .label-team-name {
        font-size: 24px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .a-terms {
        display: none;
    }
    #myCanvas {
        display: none;
    }
    #particles-js {
        width: 100%;
        height: 600px;
    }
    .home-title {
        padding-top: 80px;
        padding-left: 40px;
    }
    .label-title-trading {
        font-size: 28px;
        font-family: Montserrat-UltraLight;
    }
    .label-title-create {
        font-size: 20px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-make {
        font-family: Montserrat-Hairline;
        font-size: 17px;
        display: block;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 64px;
        display: block;
        margin-top: -27px;
    }
    .btn-font28 {
        font-size: 20px;
    }
    .fantasy-button {
        width:240px;
    }
    .a-top-games {
        margin: auto;
    }
    .div-home-btn-wrap {
        padding-top: 0;
        /*margin-left: -30px;*/
    }
    .div-absolute-top{
        position: absolute;
        top: 10px;
    }
    .label-title-stats {
        font-size: 44px;
        margin-top: 20px;
        text-align: center;
        font-family: Montserrat-ExtraBold;
        width: 100%;
    }
    .label-title-what-is {
        font-size: 28px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-Thin;
        display: block;
    }
    .label-title-crypto-fantasy {
        font-size: 32px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-ExtraBold;
    }
    .label-faq-subtitle {
        font-size: 16px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-Thin;
        display: block;
        margin-left: -10px;
    }
    .pt-40 {
        padding-bottom: 20px;
    }
    .span-block {
        font-size: 20px;
    }
    .div-row-stats-contents {
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 15px;
    }
    .div-sep {
        padding:35px;
    }
    .label-content-crypto-fantasy {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .div-pl60-pr60 {
        padding-left: 30px;
        padding-right: 10px;
    }
    .div-media-text {
        padding-left:15px;padding-top: 10px;
    }
    .div-what-is-crypto-fantasy-contents-wrap {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .a-faq {
        font-family: Montserrat-UltraLight;
        font-size: 22px;
        font-weight: bold;
    }
    .marketplace-container {
        min-height:800px;
    }
    .div-page-wrap{
        padding-top: 60px;
        padding-bottom: 90px;
        padding-left: 15px;
    }
    .h-title {
        font-size: 25px;
    }
    .label-team-name {
        font-size: 32px;
    }
    .size-24{
        font-size: 12px;
    }
    .size-48{
        font-size: 24px;
    }
    .size-64{
        font-size: 32px;
    }
    .media, .media-body {
        padding-left: 10px;
    }
    /** FAQ start **/
    .panel-default>.panel-heading {
        color: #333;
        background-color: rgba(255,255,255,0);
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .panel-default>.panel-heading a {
        display: block;
        background: white;
        font-family: Montserrat-Light;
        color: black;
        text-decoration: none;
        height: 50px;
        width: 100%;
        padding: 12px 5px;
        font-size: 12px;
    }
    .panel-default>.panel-heading a:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        position: relative;
        top: 6px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }
    .panel-default>.panel-heading a[aria-expanded="true"] {
        background-color: rgba(255,255,255,0.1);
        background: white;
        color: #0099d2;
    }
    .panel-default>.panel-heading a[aria-expanded="true"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .panel-default>.panel-heading a[aria-expanded="false"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        /*-webkit-transform: rotate(90deg);*/
        /*transform: rotate(90deg);*/
    }
    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }
    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }
    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }
    .accordion-option .toggle-accordion:before {
        content: "Expand All";
    }
    .accordion-option .toggle-accordion.active:before {
        content: "Collapse All";
    }
    .div-faq-content {
        margin-top:-8px;
        width: 100%;
        font-family: Montserrat-Hairline;
        font-size:14px;
        padding: 20px;
        background: #464855;
        color: white;
    }
    .img-faq-icon {
        width:32px;height:32px;margin-top:-3px;
    }
    /** FAQ end **/
    .container{
        padding-left: 30px;
    }
    .footer-copyright-label {
        font-family: Montserrat-UltraLight;
        margin-top: 26px;
        width:100%;
        text-align: center;
    }
    .div-aboutus {
        padding-bottom: 40px;
    }
    .fantasy-submenu {
        height: 500px;
        overflow:scroll;
    }
    .form-contact {
        padding: 10px 15px;
    }
    form.auth-login {
        width: 100%;
        margin: 6em auto;
        padding: 0;
        background: transparent;
    }
    .label-auth-sub-title{
        font-size: 18px;
    }
    .button {
        width:100%;
        padding: 17px;
        font-size: 22px;
    }
    .div-top-title {
        padding: 0;
    }
    .div-auth-button-wrap {
        width: 100%;
    }
    .label-auth-bottom-title {
        font-size: 18px;
    }
    /**** Athlete Card Start *************************/
    .athlete-card {
        min-width: 300px;
        min-height: 414px;
        width: 300px;
    }
    .marketplace-container {
        margin-left: -15px;
    }
    .span-wrap {
        /*float: none;*/
    }
    .label-athlete-playername {
        font-size: 20px;
        width: 200px;
    }
    /**** Athlete Card End *************************/
    .xs-text {
        font-size: 13px;
        /*padding-left: 0;*/
    }
    .panel-athlete-detail-body {
        padding: 0;
        font-size: 12px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 768px) and (max-width:1024px) {
    .app-home-body {
        width:100%;
        height: 600px;
        background: url(../../images/background/home.png);
        background-size: cover;
        overflow: hidden;
    }
    .marketplace-ul{
        height: calc(100% - 50px)!important;
        overflow: auto;
    }
    #marketplace_dropdownmenu {
        height: calc(100% - 100px)!important;
    }
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
    .span-block{
        font-size: 22px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: gold;
    }
    .wrap-row {
        padding-right: 15px;
    }
    .div-page-wrap {
        margin-left: -15px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .h-title {
        color: white;
        font-size: 28px;
        font-family: Montserrat-Light;
        font-style: italic;
        padding-left: 25px;
    }
    .label-team-name {
        font-size: 24px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .a-terms {
        display: none;
    }
    #myCanvas {
        /*display: none;*/
    }
    .home-athlete-card {
        background: url(../../images/background/athlete-card.png);
        background-size: 100% 100%;
        width: 670px;
        height: 513px;
        display: block;
        position: absolute;
        top: 20px;
    }
    #particles-js {
        width: 100%;
        height: 600px;
    }
    .home-title {
        padding-top: 80px;
        padding-left: 25px;
    }
    .label-title-trading {
        font-size: 50px;
        font-family: Montserrat-UltraLight;
    }
    .label-title-create {
        font-size: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-make {
        font-family: Montserrat-Hairline;
        font-size: 30px;
        display: block;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 80px;
        display: block;
    }
    .btn-font28 {
        font-size: 28px;
    }
    .fantasy-button {
        width:300px;
    }
    .div-home-btn-wrap {
        padding-top: 50px;
        margin-left: -30px;
    }
    .div-absolute-top{
        position: absolute;
        top: 10px;
    }
    .label-title-stats {
        font-size: 60px;
        margin-top: 30px;
        text-align: center;
        font-family: Montserrat-ExtraBold;
        width: 100%;
    }
    .label-title-what-is {
        font-size: 32px;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-Thin;
        display: block;
    }
    .label-title-crypto-fantasy {
        font-size: 48px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-ExtraBold;
    }
    .label-faq-subtitle {
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-Thin;
        display: block;
        margin-left: -10px;
    }
    .pt-40 {
        padding-bottom: 20px;
    }
    .span-block {
        font-size: 20px;
    }
    .div-row-stats-contents {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .div-sep {
        padding:35px;
    }
    .label-content-crypto-fantasy {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .div-pl60-pr60 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .div-media-text {
        padding-left:15px;padding-top: 10px;
    }
    .div-what-is-crypto-fantasy-contents-wrap {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .a-faq {
        font-family: Montserrat-UltraLight;
        font-size: 22px;
        font-weight: bold;
    }
    .marketplace-container {
        min-height:800px;
    }
    .div-page-wrap{
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .h-title {
        color: white;
        font-size: 48px;
        font-family: Montserrat-Light;
        font-style: italic;
    }
    .label-team-name {
        font-size: 48px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .size-24{
        font-size: 12px;
    }
    .size-48{
        font-size: 24px;
    }
    .size-64{
        font-size: 32px;
    }
    /** FAQ start **/
    .panel-default>.panel-heading {
        color: #333;
        background-color: rgba(255,255,255,0);
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .panel-default>.panel-heading a {
        display: block;
        background: white;
        font-family: Montserrat-Light;
        color: black;
        text-decoration: none;
        height: 50px;
        width: 100%;
        padding: 12px 5px;
        font-size: 12px;
    }
    .panel-default>.panel-heading a:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        position: relative;
        top: 6px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }
    .panel-default>.panel-heading a[aria-expanded="true"] {
        background-color: rgba(255,255,255,0.1);
        background: white;
        color: #0099d2;
    }
    .panel-default>.panel-heading a[aria-expanded="true"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .panel-default>.panel-heading a[aria-expanded="false"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        /*-webkit-transform: rotate(90deg);*/
        /*transform: rotate(90deg);*/
    }
    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }
    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }
    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }
    .accordion-option .toggle-accordion:before {
        content: "Expand All";
    }
    .accordion-option .toggle-accordion.active:before {
        content: "Collapse All";
    }
    .div-faq-content {
        margin-top:-8px;
        width: 100%;
        font-family: Montserrat-Hairline;
        font-size:14px;
        padding: 20px;
        background: #464855;
        color: white;
    }
    .img-faq-icon {
        width:32px;height:32px;margin-top:-3px;
    }
    /** FAQ end **/
    .container{
        padding-left: 0;
    }
    .footer-copyright-label {
        font-family: Montserrat-UltraLight;
        margin-top: 26px;
        width:100%;
        text-align: center;
    }
    .div-aboutus {
        padding-bottom: 100px;
    }
    .div-home-btn-wrap {
        margin-left: -100px;
    }
    .a-top-games {
        margin-left: 22px;
    }
}
@media (min-width: 768px) and (max-width:1024px) and (orientation: landscape) {
    .app-home-body {
        width:100%;
        height: 600px;
        background: url(../../images/background/home.png);
        background-size: cover;
        overflow: hidden;
    }
    .marketplace-ul{
        height: calc(100% - 50px)!important;
        overflow: auto;
    }
    #marketplace_dropdownmenu {
        height: calc(100% - 100px)!important;
    }
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
    .span-block{
        font-size: 22px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: gold;
    }
    .wrap-row {
        padding-right: 15px;
    }
    .div-page-wrap {
        margin-left: -15px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .h-title {
        color: white;
        font-size: 28px;
        font-family: Montserrat-Light;
        font-style: italic;
        padding-left: 25px;
    }
    .label-team-name {
        font-size: 24px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .a-terms {
        display: none;
    }
    #myCanvas {
        /*display: none;*/
    }
    .home-athlete-card {
        background: url(../../images/background/athlete-card.png);
        background-size: 100% 100%;
        width: 500px;
        height: 420px;
        display: block;
        position: absolute;
        top: 50px;
    }
    #particles-js {
        width: 100%;
        height: 600px;
    }
    #myCanvas {
        width: 500px;
        height: 500px;
    }
    .div-home-athlete-card-wrap {
        margin-left: -100px;
        margin-top: 250px;
    }
    .home-title {
        padding-top: 80px;
        padding-left: 25px;
    }
    .label-title-trading {
        font-size: 50px;
        font-family: Montserrat-UltraLight;
    }
    .label-title-create {
        font-size: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-make {
        font-family: Montserrat-Hairline;
        font-size: 30px;
        display: block;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 80px;
        display: block;
    }
    .btn-font28 {
        font-size: 28px;
    }
    .fantasy-button {
        width:300px;
    }
    .div-home-btn-wrap {
        padding-top: 50px;
        margin-left: -30px;
    }
    .div-absolute-top{
        position: absolute;
        top: 10px;
    }
    .label-title-stats {
        font-size: 60px;
        margin-top: 30px;
        text-align: center;
        font-family: Montserrat-ExtraBold;
        width: 100%;
    }
    .label-title-what-is {
        font-size: 32px;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-Thin;
        display: block;
    }
    .label-title-crypto-fantasy {
        font-size: 48px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-ExtraBold;
    }
    .label-faq-subtitle {
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        font-family: Montserrat-Thin;
        display: block;
        margin-left: -10px;
    }
    .pt-40 {
        padding-bottom: 20px;
    }
    .span-block {
        font-size: 20px;
    }
    .div-row-stats-contents {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .div-sep {
        padding:35px;
    }
    .label-content-crypto-fantasy {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .div-pl60-pr60 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .div-media-text {
        padding-left:15px;padding-top: 10px;
    }
    .div-what-is-crypto-fantasy-contents-wrap {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .a-faq {
        font-family: Montserrat-UltraLight;
        font-size: 22px;
        font-weight: bold;
    }
    .marketplace-container {
        min-height:800px;
    }
    .div-page-wrap{
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .h-title {
        color: white;
        font-size: 48px;
        font-family: Montserrat-Light;
        font-style: italic;
    }
    .label-team-name {
        font-size: 48px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .size-24{
        font-size: 12px;
    }
    .size-48{
        font-size: 24px;
    }
    .size-64{
        font-size: 32px;
    }
    /** FAQ start **/
    .panel-default>.panel-heading {
        color: #333;
        background-color: rgba(255,255,255,0);
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .panel-default>.panel-heading a {
        display: block;
        background: white;
        font-family: Montserrat-Light;
        color: black;
        text-decoration: none;
        height: 50px;
        width: 100%;
        padding: 12px 5px;
        font-size: 12px;
    }
    .panel-default>.panel-heading a:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        position: relative;
        top: 6px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }
    .panel-default>.panel-heading a[aria-expanded="true"] {
        background-color: rgba(255,255,255,0.1);
        background: white;
        color: #0099d2;
    }
    .panel-default>.panel-heading a[aria-expanded="true"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .panel-default>.panel-heading a[aria-expanded="false"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        /*-webkit-transform: rotate(90deg);*/
        /*transform: rotate(90deg);*/
    }
    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }
    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }
    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }
    .accordion-option .toggle-accordion:before {
        content: "Expand All";
    }
    .accordion-option .toggle-accordion.active:before {
        content: "Collapse All";
    }
    .div-faq-content {
        margin-top:-8px;
        width: 100%;
        font-family: Montserrat-Hairline;
        font-size:14px;
        padding: 20px;
        background: #464855;
        color: white;
    }
    .img-faq-icon {
        width:32px;height:32px;margin-top:-3px;
    }
    /** FAQ end **/
    .container{
        padding-left: 0;
    }
    .footer-copyright-label {
        font-family: Montserrat-UltraLight;
        margin-top: 26px;
        width:100%;
        text-align: center;
    }
    .div-aboutus {
        padding-bottom: 100px;
    }
    .div-home-btn-wrap {
        margin-left: -29px;
        display: block;
        width: 140%;
        text-align: left;
        padding-left: 50px;
        z-index: 2;
    }
    .a-top-games {
        /*margin-left: 22px;*/
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .app-home-body {
        min-height: 640px;
        height: 720px;
    }
    .div-stats-wrap {
        min-height: 720px;
        height: 780px;
    }
    .div-top-athletes-wrap {
        min-height: 760px;
        /*height: 1050px;*/
    }
    .home-title {
        padding-top: 130px;
        padding-left: 100px;
    }
    .div-absolute-top{
        position: absolute;
        top: 0;
    }
    .label-title-trading {
        font-size: 50px;
        font-family: Montserrat-UltraLight;
    }
    .label-title-create {
        font-size: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-make {
        font-family: Montserrat-Hairline;
        font-size: 40px;
        display: block;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 125px;
        display: block;
    }
    .btn-font28 {
        font-size: 22px;
    }
    .fantasy-button {
        width:250px;
    }
    .a-top-games {
        margin-left: 50px;
    }
    .icon-main {
        font-size: 32px;
        font-stretch: expanded;
        font-family: "Montserrat-Black";
        font-weight: 900;
    }
    .home-athlete-card {
        background: url(../../images/background/athlete-card.png);
        background-size: 100% 100%;
        width: 670px;
        height: 513px;
        display: block;
        position: absolute;
        top: 200px;
    }
    .div-home-athlete-card-wrap {
        padding-top: 120px;
    }
    .label-title-stats {
        font-size: 110px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-what-is {
        font-size: 64px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-Thin;
        display: block;
    }
    .label-title-crypto-fantasy {
        font-size: 72px;
        margin-top: 5px;
        margin-left: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-faq-subtitle {
        font-size: 22px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-Thin;
        display: block;
    }
    .span-block {
        font-size: 32px;
    }
    .div-row-stats-contents {
        margin-top: 120px;
    }
    .div-sep {
        padding:35px;
    }
    .label-content-crypto-fantasy {
        font-size: 28px;
    }
    .div-pl60-pr60 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .div-media-text {
        padding-left:15px;padding-top: 10px;
    }
    .div-what-is-crypto-fantasy-contents-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .a-faq {
        font-family: Montserrat-UltraLight;
        font-size: 22px;
        font-weight: bold;
    }
    .marketplace-container {
        /*min-height:800px;*/
    }
    .div-page-wrap{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .h-title {
        color: white;
        font-size: 36px;
        font-family: Montserrat-Light;
        font-style: italic;
    }
    .label-team-name {
        font-size: 48px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .size-24{
        font-size: 24px;
    }
    .size-48{
        font-size: 48px;
    }
    .size-64{
        font-size: 64px;
    }
    /** FAQ start **/
    .panel-default>.panel-heading {
        color: #333;
        background-color: rgba(255,255,255,0);
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .panel-default>.panel-heading a {
        display: block;
        background: white;
        font-family: Montserrat-Light;
        color: black;
        text-decoration: none;
        height: 60px;
        width: 100%;
        padding: 12px 15px;
        font-size: 27px;
    }
    .panel-default>.panel-heading a:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        position: relative;
        top: 6px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }
    .panel-default>.panel-heading a[aria-expanded="true"] {
        background-color: rgba(255,255,255,0.1);
        background: white;
        color: #0099d2;
    }
    .panel-default>.panel-heading a[aria-expanded="true"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .panel-default>.panel-heading a[aria-expanded="false"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        /*-webkit-transform: rotate(90deg);*/
        /*transform: rotate(90deg);*/
    }
    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }
    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }
    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }
    .accordion-option .toggle-accordion:before {
        content: "Expand All";
    }
    .accordion-option .toggle-accordion.active:before {
        content: "Collapse All";
    }
    .div-faq-content {
        margin-top:-8px;
        width: 100%;
        font-family: Montserrat-Hairline;
        font-size:14px;
        padding: 20px;
        background: #464855;
        color: white;
    }
    .img-faq-icon {
        width:32px;height:32px;margin-top:-3px;
    }
    /** FAQ end **/
}
@media (width: 1366px) and (height: 768px) {
    .div-home-btn-wrap {
        margin-left: -40px;
    }
    .label-title-now {
        margin-top: -30px;
    }
    .app-home-body {
        min-height: 640px;
        height: 720px;
    }
    .div-stats-wrap {
        min-height: 720px;
        height: 780px;
    }
    .div-top-athletes-wrap {
        min-height: 760px;
        /*height: 1050px;*/
    }
    .home-title {
        padding-top: 130px;
        padding-left: 100px;
    }
    .div-absolute-top{
        position: absolute;
        top: 0;
    }
    .label-title-trading {
        font-size: 50px;
        font-family: Montserrat-UltraLight;
    }
    .label-title-create {
        font-size: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-make {
        font-family: Montserrat-Hairline;
        font-size: 40px;
        display: block;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 125px;
        display: block;
    }
    .btn-font28 {
        font-size: 28px;
    }
    .fantasy-button {
        width:300px;
    }
    .a-top-games {
        margin-left: 100px;
    }
    .icon-main {
        font-size: 32px;
        font-stretch: expanded;
        font-family: "Montserrat-Black";
        font-weight: 900;
    }
    .home-athlete-card {
        background: url(../../images/background/athlete-card.png);
        background-size: 100% 100%;
        width: 670px;
        height: 513px;
        display: block;
        position: absolute;
        top: 200px;
    }
    .div-home-athlete-card-wrap {
        padding-top: 120px;
    }
    .label-title-stats {
        font-size: 110px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-what-is {
        font-size: 64px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-Thin;
        display: block;
    }
    .label-title-crypto-fantasy {
        font-size: 72px;
        margin-top: 5px;
        margin-left: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-faq-subtitle {
        font-size: 22px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-Thin;
        display: block;
    }
    .span-block {
        font-size: 32px;
    }
    .div-row-stats-contents {
        margin-top: 120px;
    }
    .div-sep {
        padding:35px;
    }
    .label-content-crypto-fantasy {
        font-size: 28px;
    }
    .div-pl60-pr60 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .div-media-text {
        padding-left:15px;padding-top: 10px;
    }
    .div-what-is-crypto-fantasy-contents-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .a-faq {
        font-family: Montserrat-UltraLight;
        font-size: 22px;
        font-weight: bold;
    }
    .marketplace-container {
        /*min-height:800px;*/
    }
    .div-page-wrap{
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .h-title {
        color: white;
        font-size: 36px;
        font-family: Montserrat-Light;
        font-style: italic;
    }
    .label-team-name {
        font-size: 48px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .size-24{
        font-size: 24px;
    }
    .size-48{
        font-size: 48px;
    }
    .size-64{
        font-size: 64px;
    }
    /** FAQ start **/
    .panel-default>.panel-heading {
        color: #333;
        background-color: rgba(255,255,255,0);
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .panel-default>.panel-heading a {
        display: block;
        background: white;
        font-family: Montserrat-Light;
        color: black;
        text-decoration: none;
        height: 60px;
        width: 100%;
        padding: 12px 15px;
        font-size: 27px;
    }
    .panel-default>.panel-heading a:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        position: relative;
        top: 6px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }
    .panel-default>.panel-heading a[aria-expanded="true"] {
        background-color: rgba(255,255,255,0.1);
        background: white;
        color: #0099d2;
    }
    .panel-default>.panel-heading a[aria-expanded="true"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .panel-default>.panel-heading a[aria-expanded="false"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        /*-webkit-transform: rotate(90deg);*/
        /*transform: rotate(90deg);*/
    }
    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }
    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }
    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }
    .accordion-option .toggle-accordion:before {
        content: "Expand All";
    }
    .accordion-option .toggle-accordion.active:before {
        content: "Collapse All";
    }
    .div-faq-content {
        margin-top:-8px;
        width: 100%;
        font-family: Montserrat-Hairline;
        font-size:14px;
        padding: 20px;
        background: #464855;
        color: white;
    }
    .img-faq-icon {
        width:32px;height:32px;margin-top:-3px;
    }
    /** FAQ end **/
}
@media (min-width: 1441px) {
    .app-home-body {
        min-height: 640px;
        height: 720px;
    }
    .div-stats-wrap {
        min-height: 720px;
        height: 780px;
    }
    .div-top-athletes-wrap {
        min-height: 760px;
        /*height: 1050px;*/
    }
    .home-title {
        padding-top: 130px;
        padding-left: 100px;
    }
    .div-absolute-top{
        position: absolute;
        top: 0;
    }
    .label-title-trading {
        font-size: 60px;
        font-family: Montserrat-UltraLight;
    }
    .label-title-create {
        font-size: 64px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-make {
        font-family: Montserrat-Hairline;
        font-size: 40px;
        display: block;
    }
    .label-title-now {
        font-family: Montserrat-ExtraBold;
        font-size: 130px;
        display: block;
    }
    .btn-font28 {
        font-size: 28px;
    }
    .fantasy-button {
        width:300px;
    }
    .a-top-games {
        margin-left: 100px;
    }
    .icon-main {
        font-size: 32px;
        font-stretch: expanded;
        font-family: "Montserrat-Black";
        font-weight: 900;
    }
    .home-athlete-card {
        background: url(../../images/background/athlete-card.png);
        background-size: 100% 100%;
        width: 670px;
        height: 513px;
        display: block;
        position: absolute;
        top: 200px;
    }
    .div-home-athlete-card-wrap {
        padding-top: 120px;
    }
    .label-title-stats {
        font-size: 110px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-title-what-is {
        font-size: 64px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-Thin;
        display: block;
    }
    .label-title-crypto-fantasy {
        font-size: 72px;
        margin-top: 5px;
        margin-left: 50px;
        font-family: Montserrat-ExtraBold;
    }
    .label-faq-subtitle {
        font-size: 22px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Montserrat-Thin;
        display: block;
    }
    .span-block {
        font-size: 32px;
    }
    .div-row-stats-contents {
        margin-top: 120px;
    }
    .div-sep {
        padding:35px;
    }
    .label-content-crypto-fantasy {
        font-size: 28px;
    }
    .div-pl60-pr60 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .div-media-text {
        padding-left:15px;padding-top: 10px;
    }
    .div-what-is-crypto-fantasy-contents-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .a-faq {
        font-family: Montserrat-UltraLight;
        font-size: 22px;
        font-weight: bold;
    }
    .marketplace-container {
        /*min-height:800px;*/
    }
    .div-page-wrap{
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .h-title {
        color: white;
        font-size: 36px;
        font-family: Montserrat-Light;
        font-style: italic;
    }
    .label-team-name {
        font-size: 48px;
        font-family: Montserrat-SemiBold;
        font-style: italic;
    }
    .size-24{
        font-size: 24px;
    }
    .size-48{
        font-size: 48px;
    }
    .size-64{
        font-size: 64px;
    }
    /** FAQ start **/
    .panel-default>.panel-heading {
        color: #333;
        background-color: rgba(255,255,255,0);
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .panel-default>.panel-heading a {
        display: block;
        background: white;
        font-family: Montserrat-Light;
        color: black;
        text-decoration: none;
        height: 60px;
        width: 100%;
        padding: 12px 15px;
        font-size: 27px;
    }
    .panel-default>.panel-heading a:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        position: relative;
        top: 6px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }
    .panel-default>.panel-heading a[aria-expanded="true"] {
        background-color: rgba(255,255,255,0.1);
        background: white;
        color: #0099d2;
    }
    .panel-default>.panel-heading a[aria-expanded="true"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .panel-default>.panel-heading a[aria-expanded="false"]:after {
        content: "\f054";
        /*background: url('../assets/images/background/gt.png');*/
        /*-webkit-transform: rotate(90deg);*/
        /*transform: rotate(90deg);*/
    }
    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }
    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }
    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }
    .accordion-option .toggle-accordion:before {
        content: "Expand All";
    }
    .accordion-option .toggle-accordion.active:before {
        content: "Collapse All";
    }
    .div-faq-content {
        margin-top:-8px;
        width: 100%;
        font-family: Montserrat-Hairline;
        font-size:14px;
        padding: 20px;
        background: #464855;
        color: white;
    }
    .img-faq-icon {
        width:32px;height:32px;margin-top:-3px;
    }
    /** FAQ end **/
}
