.avatar-container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}
.avatar-upload {
  position: relative;
  max-width: 240px;
  margin: 10px auto -10px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 25px;
  z-index: 1;
  top: 15px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #071323;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #3d77c3;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\F040";
  font-family: 'FontAwesome';
  color: #ffffff;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 20px;
}
.avatar-upload .avatar-preview {
  width: 240px;
  height: 240px;
  position: relative;
  border-radius: 100%;
  border: 2px solid #F8F8F8;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-upload .div-avatar-upload {
  padding-top: 10px;
}
.avatar-upload .div-avatar-upload button[type="button"] {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(63, #12121263), color-stop(0, #00000000));
  background: linear-gradient(to bottom, #12121263 63, #00000000 0);
  color: white;
  border: 1px solid white;
  font-family: Montserrat-Light;
  font-size: 18px;
}
.avatar-upload .div-avatar-upload button[type="button"]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(63, #12123463), color-stop(0, #00000000));
  background: linear-gradient(to bottom, #12123463 63, #00000000 0);
}
